# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build output
/bin/
/dist/
/out/

# Go test binary
*.test

# Go coverage output
*.out
coverage.html

# Go module download cache
/vendor/

# Environment variables
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

mon-livre/
TODO.md